/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  font-size: 62.5%;
  /* Normalizes font size for 1rem = 10px */
  overflow-y: scroll;
  /* Keeps page centered in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}


html, body  { height: 100%; min-height: 100%; margin: 0; padding: 0; }

.clearfix:after  { clear: both; content: "."; display: block; height: 0; line-height: 0; visibility: hidden; }

p  { line-height: 1.5; margin: 0 0 1.25em; padding: 0; }

/* HTML5 Tags for Older Browsers */
nav, header, footer {
	display: block;
}

/* Hyperlinks */
a img  { border: none; }
a:focus, a:hover, a:active  { outline: none; }

/* Headings */
h1, h2, h3, h4, h5, h6  { margin: 1em 0; }
h1 {
	font-size: 25px;
	font-size: 2.5rem;
}
h2  { font-size: 20px; }
h3  { font-size: 18px; }
h4  { font-size: 16px; }
h5  { font-size: 14px; }
h6  { font-size: 12px; }

/* Tables */
table  { border-collapse: collapse; border-spacing: 0; }
th, td  { padding: 5px; }

/* Common Classes */

.site-title {
	font-size: 25px;
	font-size: 2.5rem;
	margin: 20px 0 25px;
}
.aligncenter  { display: block; margin: 0 auto !important; }
.alignright  { float: right; margin: 0 0 1em 1em; }
.alignleft  { float: left; margin: 0 1em 1em 0; }
.floatleft  { float: left; }
.floatright  { float: right; }

.textcenter  { text-align: center; }
.textright  { text-align: right; }
.textleft  { text-align: left; }

.ui-tabs-hide, .hide  { display: none !important; }
.xoxo  { padding: 0; }

/* Structure */
.wrap {
	margin: auto;
	max-width: 1000px;
}

#wrapper				{ min-height: 100%; position: relative; padding: 20px 0; }
#main					{ padding: 10px 10px 0; }

/* Header */
.logo img,
.logo .site-title,
.logo .site-description {
	padding-left: 30px;
}
.blog-name				{ margin: 0 0 3px; line-height: 1em; display: block; }
.blog-description		{ line-height: 1em; display: block; margin: 0; padding: 3px 0 0; }

/*--------------------------------------------------------------
  Menus
--------------------------------------------------------------*/

.top-menu {
	clear: both;
	line-height: 2;
	text-transform: uppercase;
}
	.top-menu ul {
	    list-style: none;
	    margin: 0;
	    padding-left: 0;
	}
    .top-menu ul ul {
		background-color: #111;
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
		float: left;
		position: absolute;
		top: 99%;
		left: -999em;
		z-index: 99999;
	}
	.top-menu ul ul li:hover > ul {
		left: 100%;
	}
	.top-menu ul ul a {
		width: 150px;
	}
    .top-menu ul li:hover > ul {
    	left: auto;
    }
	.top-menu li {
		border-right: 1px solid #333;
		float: left;
    	position: relative;
    }
    	.top-menu li:last-child {
    		border: none;
    	}
    .top-menu a,
    .top-menu a:link,
    .top-menu a:hover,
    .top-menu a:visited {
	    color: #aaa;
	    display: block;
	    font-size: 13px;
	    font-size: 1.3rem;
	    margin: 0 10px;
	    text-decoration: none;
	}
    .top-menu a:hover {
    	color: white;
    	text-shadow: 1px 1px #999999;
    }


.nav {
	background-color: #322c2c;
	height: 40px;
	font-variant: small-caps;
}

.main-menu {
  clear: both;
  line-height: 2;
}
	.main-menu ul {
	    list-style: none;
	    margin: 0;
	    padding-left: 0;
	}
    .main-menu ul ul {
		background-color: #322c2c;
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
		float: left;
		position: absolute;
		top: 99%;
		left: -999em;
		z-index: 99999;
	}
	.main-menu ul ul ul {
		background-color: #383838;
		left: -999em;
		top: 7px;
	}
	.main-menu ul ul li:hover > ul {
		left: 100%;
	}
	.main-menu ul ul a {
		width: 200px;
	}
    .main-menu ul li:hover > ul {
    	left: auto;
    }
	.main-menu li {
	    float: left;
	    position: relative;
	}
	.main-menu a,
    .main-menu a:link,
    .main-menu a:hover,
    .main-menu a:visited {
	    color: #aaa;
	    display: block;
	    font-size: 18px;
	    font-size: 1.8rem;
	    margin: 0 10px;
	    text-decoration: none;
	}
    .main-menu a:hover {
		color: white;
		text-shadow: 1px 1px #999999;
	}


.quick-nav  { float: right; list-style: none; margin: 0 10px 0; padding: 0; }
.quick-nav li  { float: left; display: inline; }

/*--------------------------------------------------------------
  Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
	.screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
	    background-color: #f1f1f1;
	    background-clip: padding-box;
	    /* stops bg color from leaking outside the border: */
	    -webkit-border-radius: 3px;
	    border-radius: 3px;
	    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	    clip: auto !important;
	    color: #21759b;
	    display: block;
	    font-size: 14px;
	    font-size: 1.4rem;
	    font-weight: bold;
	    height: auto;
	    left: 5px;
	    line-height: normal;
	    padding: 15px 23px 14px;
	    text-decoration: none;
	    top: 5px;
	    width: auto;
	    z-index: 100000;
	}


/* Search Bar */
#searchbar  { float: right; overflow: hidden; margin: 25px 10px 0 0; }

/* Header Widgets */
.headerwidgets {
  float: right;
  width: 300px;
  max-height: 160px;
  margin: 20px 10px;
  overflow: hidden;
  background: transparent;
}
.headerwidgets .widgetcontainer:last-child {
  margin-bottom: 0;
}

/* Utility Areas */
.primary-utility {
	background: #111;
	color: #aaa;
}

/* Sidebar */
.sidebar .xoxo  { list-style: none; padding: 0; margin: 0; }
.widgetcontainer  { padding: 10px; margin-bottom: 10px; }
.widgetcontainer ul, .widgetcontainer .xoxo, .widgetcontainer ol  { list-style: disc; margin: 0 0 0 15px; padding: 0; }
.widgetcontainer li  { margin: 3px 0; }
.widgetcontainer input[type=text], .widgetcontainer input[type=password]  { width: 80%; }

.multi-sidebar .tabs  { list-style: none; margin: 0 0 5px; padding: 0; overflow: hidden; }
.multi-sidebar .tabs li	 { float: left; padding: 5px; margin: 0 3px 5px 0; }
.multi-sidebar .widgetcontainer	 { margin-bottom: 10px; padding: 10px; }
.multi-sidebar .widgetcontainer ul, ul.featured-stories, ul.related-posts  { list-style: none; margin: 0; }
.multi-sidebar .widgetcontainer li, .featured-stories li,  .related-posts li  { padding: 0 0 10px; margin: 0 0 10px; }

#wp-calendar  { width: 100%; }

/* Featured Slideshow */
.featured  { margin: 0 10px 20px 0; overflow: hidden; }
#controls  { position: relative; float: left; z-index: 90; top: 90px; }

#controls .cycle-next, #controls .cycle-prev  { text-indent: -9000px; width: 30px; height: 30px; display: block; z-index: 1000; opacity: 0.7; }
#controls .cycle-prev  { background: url(../images/prev.png) no-repeat; float: left; position: absolute; left: 10px; }
#controls .cycle-next  { background: url(../images/next.png) no-repeat; float: right; position: absolute; left: 610px; }
#controls .cycle-next:hover, #controls .cycle-prev:hover  { opacity: 1; }

.cycle-slideshow  { position: relative; z-index: 0 !important; }

.featured-article  { display: block; }
.featured-entry  { position: relative; top: -85px; overflow: hidden; padding: 0; display: block; opacity: 0.8; }
.featured-entry .entry-title  { display: block; }
.featured-entry .entry-summary  { padding: 0 15px; margin: 0; display: block; }

/* Bottom Content */
#bottom-content-1, #bottom-content-2  { list-style: none; float: left; width: 320px; margin: 0 10px 10px 0; overflow: hidden; padding: 0; }
.layout-3c-r-fixed #bottom-content-1, .layout-3c-r-fixed #bottom-content-2, .layout-3c-fixed #bottom-content-1, .layout-3c-fixed #bottom-content-2	{ width: 243px; }

/* Tapestries */
.entry-thumbnails  { clear: both; display: inline-block; }
.entry-thumbnails-link  { float: left; display: block; }

.posts-default, .posts-quick, .posts-line  { list-style: none; margin: 0 0 10px; padding: 0; overflow: hidden; }
.posts-default  { margin: 0 0 20px; }
.posts-default .entry, .posts-default img  { float: left; padding: 0; overflow: hidden; }
.posts-default .entry-title	{ margin: 5px; line-height: 1.4em; }
.posts-default .entry-summary  { overflow: hidden; margin: 0 5px; padding-bottom: 10px; line-height: 1.4em; }
.posts-default .entry-thumbnails-link	{ padding: 4px; }
.posts-default .published { float: left; margin: 5px 5px 0; }

.posts-quick  { margin: 0 10px 10px 0; padding: 0; }
.posts-quick li  { padding: 0 10px 0 0; margin: 0 0 10px; }
.posts-quick .entry-title  { padding: 5px 0 0; margin: 0; line-height: 1.3em; }
.posts-quick .entry-summary	{ line-height: 1.6em; margin-bottom: 15px; }
.posts-quick .entry-thumbnails  { float: left; margin: 0 20px 10px 0; padding: 4px; }
.posts-quick .quick-read-more  { margin: 10px 0 5px; }
.posts-quick .entry-info  { margin: 0 0 5px; }
.posts-quick .entry-info abbr  { padding: 0 4px 0 0; }
.posts-quick .entry-info span  { padding: 0 4px; }

.posts-default .entry-meta, .posts-quick .entry-meta	{ float: left; display: block; margin: -25px 0 0; }
.posts-default .entry-comments, .posts-quick .entry-comments { float: right; margin: 5px 5px 0; background: url(../images/comments.gif) no-repeat left center; padding: 0 0 0 12px; }
.posts-line  { margin: 0 10px 10px 0; padding: 10px; line-height: 1.4em; }
.posts-line	li  { padding: 7px 0; }
.posts-line .entry-cat  { float: left; width: 100px; overflow: hidden; }
.posts-line .entry-title  { float: left; margin: 0; max-width: 450px; line-height: 1.4em; }
.layout-3c-fixed .posts-line .entry-title, .layout-3c-r-fixed .posts-line .entry-title  { max-width: 300px; }
.posts-line .entry-comments	 { float: right; }

.navigation  { margin: 0 10px 20px 0; text-align: center; }

/* Other Post Styles */
.sticky {}
.bypostauthor {}

/* Single Post */
.single .post, #main .single-post	{ margin: 0 10px 15px 0; padding: 0 15px; }
.single .post .entry-title, .single-post .entry-title	{ padding: 0; margin: 15px 0 5px; line-height: 1.3em; }
.single .post .entry-info, .single-post .entry-info	{ padding-bottom: 10px; margin-bottom: 10px; }
.single .post .entry-cat, .single-post .entry-cat	{ display: block; margin: 5px 0 0; }
.single .post .entry-author, .single-post .entry-author { margin: 0; display: inline; }
.single .post .entry-author address, .single-post .entry-author address	{ display: inline; }
#main .single .post .tags, #main .single-post .tags { margin: 15px 0; padding: 15px 0 0; }
#main .single .post .tags a, #main .single-post .tags a { padding: 0; }
.single .post .entry-photo, .single-post .entry-photo	{ overflow: hidden; }
.single .post .entry-photo img, .single-post .entry-photo img  { margin: 10px auto;  }

.single-post-meta  { clear: right; float: right; margin: 1em 0 1em 1em; width: 40%; }

.entry-content  { margin: 10px 0; font-size: 12px; line-height: 1.5em; overflow: hidden; }
.entry-content ul, .entry-content ol  { margin: 0 20px; padding: 0 0 1.5em; }
.entry-content ul ul, .entry-content ol ol, .entry-content ol ul, .entry-content ul ol  { padding: 0; }
.entry-content blockquote  { font-style: italic; }
.entry-content form  { margin: 1em 0; }

.post-edit-link:link, .post-edit-link:visited  { padding: 0 0 0 14px; }
.page .entry-content  { margin: 0 0 20px; }

.layout-3c-r-fixed .post .entry-photo, .layout-3c-r-fixed .single-post .entry-photo, .layout-3c-fixed .post .entry-photo, .layout-3c-fixed .single-post .entry-photo  { width: 480px; }

.gallery  { clear: both; margin: 10px 0; }
.gallery-item  { float: left; margin-right: 10px; width: 31%; text-align: center; }
.gallery-icon img  { padding: 4px; }
.gallery-caption  { font-size: 12px; }

.about-author  { padding: 10px; margin: 0 0 10px; line-height: 1.5em; }
.about-author .avatar  { margin-bottom: 0; }
.about-author .author-meta  { float: left; width: 85%; }
.about-author h4  { margin: 0 0 5px; }

/* Comments */
#commentlist  { list-style: none; padding: 10px 10px 0; margin: 0 10px 0 0; }
#commentlist li  { margin-bottom: 10px; }
#commentlist p  { clear: left; line-height: 1.8em; }
#commentlist .reply  { float: right; }

#commentlist .comment-node  { margin-bottom: 10px; }
#commentlist .children	{ clear: right; margin-left: 20px; list-style: none; padding: 0; }
#commentlist #respond	{ clear: both; margin: 10px; }
#commentlist #respond .module-title { margin: 0; }
#commentlist #respond #commentsform	{ margin: 0; }
#commentlist .comment-author	{ padding: 10px 0 0 10px;}
#commentlist .comment-meta		{ padding: 0 10px; }
#commentlist .comment-content	{ padding: 0 10px; }
#commentlist .comment-controls	{ padding: 15px 10px; float: right; }

.comments-navigation	{ clear: both; margin: 0 10px 10px 0; }

#commentform, #commentsform, #disqus_thread  { margin: 0 10px 10px 0; padding: 10px; overflow: hidden; }
#commentform textarea	{ width: 98%; height: 150px; padding: 5px; }
#commentform .error	{ display: block; padding: 5px; }

#cancel-comment-reply-link	{ padding: 0 10px; }

/* Author Template */
.author-content			{ margin-right: 10px; }
.author-content dl  	{ margin-left: 115px; }

/* Footer */
#footer				{ margin: 20px auto 0; width: 980px; padding-bottom: 10px; }
#footer .widgetcontainer	{ padding: 5px 10px; margin-right: 10px; float: left; }
#footer .footer-message	{ margin: 0; padding: 10px 15px 0; }
#footer .footer-message p { margin: 0 0 0.5em; }
#footer .footer-message .floatright { margin-left: 20px; }
.footer-sidebar-container  { margin: 10px; }
.footer-sidebar		{ overflow: hidden; float: left; margin: 0; padding: 0 0 10px; }


/* ----- GRID ------------------------------------------------------- */
/* -- SECTIONS -- */
.section {
  clear: both;
  padding: 0px;
  margin: 0px; }

/* -- GROUPING -- */
.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }

/* -- GRID COLUMN SETUP -- */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%; }

.col:first-child {
  margin-left: 0; }

/* all browsers except IE6 and lower */
/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0; } }
/*  GRID OF TWO   ============================================================================= */
.span_2_of_2 {
  width: 100%; }

.span_1_of_2 {
  width: 49.2%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span_2_of_2 {
    width: 100%; }

  .span_1_of_2 {
    width: 100%; } }
/*  GRID OF THREE   ============================================================================= */
.span_3_of_3 {
  width: 100%; }

.span_2_of_3 {
  width: 66.13%; }

.span_1_of_3 {
  width: 32.26%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span_3_of_3 {
    width: 100%; }

  .span_2_of_3 {
    width: 100%; }

  .span_1_of_3 {
    width: 100%; } }
/*  GRID OF FOUR   ============================================================================= */
.span_4_of_4 {
  width: 100%; }

.span_3_of_4 {
  width: 74.6%; }

.span_2_of_4 {
  width: 49.2%; }

.span_1_of_4 {
  width: 23.8%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span_4_of_4 {
    width: 100%; }

  .span_3_of_4 {
    width: 100%; }

  .span_2_of_4 {
    width: 100%; }

  .span_1_of_4 {
    width: 100%; } }
/*  GRID OF FIVE   ============================================================================= */
.span_5_of_5 {
  width: 100%; }

.span_4_of_5 {
  width: 79.68%; }

.span_3_of_5 {
  width: 59.36%; }

.span_2_of_5 {
  width: 39.04%; }

.span_1_of_5 {
  width: 18.72%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span_5_of_5 {
    width: 100%; }

  .span_4_of_5 {
    width: 100%; }

  .span_3_of_5 {
    width: 100%; }

  .span_2_of_5 {
    width: 100%; }

  .span_1_of_5 {
    width: 100%; } }
/*  GRID OF SIX   ============================================================================= */
.span_6_of_6 {
  width: 100%; }

.span_5_of_6 {
  width: 83.06%; }

.span_4_of_6 {
  width: 66.13%; }

.span_3_of_6 {
  width: 49.2%; }

.span_2_of_6 {
  width: 32.26%; }

.span_1_of_6 {
  width: 15.33%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span_6_of_6 {
    width: 100%; }

  .span_5_of_6 {
    width: 100%; }

  .span_4_of_6 {
    width: 100%; }

  .span_3_of_6 {
    width: 100%; }

  .span_2_of_6 {
    width: 100%; }

  .span_1_of_6 {
    width: 100%; } }
/*  GRID OF SEVEN   ============================================================================= */
.span_7_of_7 {
  width: 100%; }

.span_6_of_7 {
  width: 85.48%; }

.span_5_of_7 {
  width: 70.97%; }

.span_4_of_7 {
  width: 56.45%; }

.span_3_of_7 {
  width: 41.94%; }

.span_2_of_7 {
  width: 27.42%; }

.span_1_of_7 {
  width: 12.91%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span_7_of_7 {
    width: 100%; }

  .span_6_of_7 {
    width: 100%; }

  .span_5_of_7 {
    width: 100%; }

  .span_4_of_7 {
    width: 100%; }

  .span_3_of_7 {
    width: 100%; }

  .span_2_of_7 {
    width: 100%; }

  .span_1_of_7 {
    width: 100%; } }
/*  GRID OF EIGHT   ============================================================================= */
.span_8_of_8 {
  width: 100%; }

.span_7_of_8 {
  width: 87.3%; }

.span_6_of_8 {
  width: 74.6%; }

.span_5_of_8 {
  width: 61.9%; }

.span_4_of_8 {
  width: 49.2%; }

.span_3_of_8 {
  width: 36.5%; }

.span_2_of_8 {
  width: 23.8%; }

.span_1_of_8 {
  width: 11.1%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span_8_of_8 {
    width: 100%; }

  .span_7_of_8 {
    width: 100%; }

  .span_6_of_8 {
    width: 100%; }

  .span_5_of_8 {
    width: 100%; }

  .span_4_of_8 {
    width: 100%; }

  .span_3_of_8 {
    width: 100%; }

  .span_2_of_8 {
    width: 100%; }

  .span_1_of_8 {
    width: 100%; } }
/*  GRID OF NINE   ============================================================================= */
.span_9_of_9 {
  width: 100%; }

.span_8_of_9 {
  width: 88.71%; }

.span_7_of_9 {
  width: 77.42%; }

.span_6_of_9 {
  width: 66.13%; }

.span_5_of_9 {
  width: 54.84%; }

.span_4_of_9 {
  width: 43.55%; }

.span_3_of_9 {
  width: 32.26%; }

.span_2_of_9 {
  width: 20.97%; }

.span_1_of_9 {
  width: 9.68%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span_9_of_9 {
    width: 100%; }

  .span_8_of_9 {
    width: 100%; }

  .span_7_of_9 {
    width: 100%; }

  .span_6_of_9 {
    width: 100%; }

  .span_5_of_9 {
    width: 100%; }

  .span_4_of_9 {
    width: 100%; }

  .span_3_of_9 {
    width: 100%; }

  .span_2_of_9 {
    width: 100%; }

  .span_1_of_9 {
    width: 100%; } }
/*  GRID OF TEN   ============================================================================= */
.span_10_of_10 {
  width: 100%; }

.span_9_of_10 {
  width: 89.84%; }

.span_8_of_10 {
  width: 79.68%; }

.span_7_of_10 {
  width: 69.52%; }

.span_6_of_10 {
  width: 59.36%; }

.span_5_of_10 {
  width: 49.2%; }

.span_4_of_10 {
  width: 39.04%; }

.span_3_of_10 {
  width: 28.88%; }

.span_2_of_10 {
  width: 18.72%; }

.span_1_of_10 {
  width: 8.56%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span_10_of_10 {
    width: 100%; }

  .span_9_of_10 {
    width: 100%; }

  .span_8_of_10 {
    width: 100%; }

  .span_7_of_10 {
    width: 100%; }

  .span_6_of_10 {
    width: 100%; }

  .span_5_of_10 {
    width: 100%; }

  .span_4_of_10 {
    width: 100%; }

  .span_3_of_10 {
    width: 100%; }

  .span_2_of_10 {
    width: 100%; }

  .span_1_of_10 {
    width: 100%; } }
/*  GRID OF ELEVEN   ============================================================================= */
.span_11_of_11 {
  width: 100%; }

.span_10_of_11 {
  width: 90.76%; }

.span_9_of_11 {
  width: 81.52%; }

.span_8_of_11 {
  width: 72.29%; }

.span_7_of_11 {
  width: 63.05%; }

.span_6_of_11 {
  width: 53.81%; }

.span_5_of_11 {
  width: 44.58%; }

.span_4_of_11 {
  width: 35.34%; }

.span_3_of_11 {
  width: 26.1%; }

.span_2_of_11 {
  width: 16.87%; }

.span_1_of_11 {
  width: 7.63%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span_11_of_11 {
    width: 100%; }

  .span_10_of_11 {
    width: 100%; }

  .span_9_of_11 {
    width: 100%; }

  .span_8_of_11 {
    width: 100%; }

  .span_7_of_11 {
    width: 100%; }

  .span_6_of_11 {
    width: 100%; }

  .span_5_of_11 {
    width: 100%; }

  .span_4_of_11 {
    width: 100%; }

  .span_3_of_11 {
    width: 100%; }

  .span_2_of_11 {
    width: 100%; }

  .span_1_of_11 {
    width: 100%; } }
/*  GRID OF TWELVE   ============================================================================= */
.span_12_of_12 {
  width: 100%; }

.span_11_of_12 {
  width: 91.53%; }

.span_10_of_12 {
  width: 83.06%; }

.span_9_of_12 {
  width: 74.6%; }

.span_8_of_12 {
  width: 66.13%; }

.span_7_of_12 {
  width: 57.66%; }

.span_6_of_12 {
  width: 49.2%; }

.span_5_of_12 {
  width: 40.73%; }

.span_4_of_12 {
  width: 32.26%; }

.span_3_of_12 {
  width: 23.8%; }

.span_2_of_12 {
  width: 15.33%; }

.span_1_of_12 {
  width: 6.86%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span_12_of_12 {
    width: 100%; }

  .span_11_of_12 {
    width: 100%; }

  .span_10_of_12 {
    width: 100%; }

  .span_9_of_12 {
    width: 100%; }

  .span_8_of_12 {
    width: 100%; }

  .span_7_of_12 {
    width: 100%; }

  .span_6_of_12 {
    width: 100%; }

  .span_5_of_12 {
    width: 100%; }

  .span_4_of_12 {
    width: 100%; }

  .span_3_of_12 {
    width: 100%; }

  .span_2_of_12 {
    width: 100%; }

  .span_1_of_12 {
    width: 100%; } }
/* -- RESPONSIVE at 1024px -- */
@media screen and (max-width: 1024px) and (min-width: 769px) {
  .grid-wrap {
    width: 93.75%;
    /* 960px / 1024px */ }

  /*	header {
  		width: 93.75%;
  	}

  	.maincontent{
  		width: 93.75%;  960px / 1024px
  	}

  	footer {
  		width: 93.75%;  960px / 1024px
  	}
  	*/ }
/* -- RESPONSIVE at 768px -- */
@media screen and (max-width: 768px) and (min-width: 481px) {
  .grid-wrap {
    width: 93.75%;
    /* 960px / 1024px */ }

  /*
  	header {
  		width: 93.75%;  720px / 768px
  	}

  	.maincontent{
  		width: 93.75%;  720px / 768px
  	}

  	footer {
  		width: 93.75%;  720px / 768px
  	}
  	*/ }
/* -- RESPONSIVE at 480px -- */
@media screen and (max-width: 480px) {
  .grid-wrap {
    width: 93.75%;
    /* 960px / 1024px */ }

  /*
  	header {
  		width: 93.75%;  450px / 480px
  	}

  	.maincontent{
  		width: 93.75%;  450px / 480px
  	}

  	footer {
  		width: 93.75%;  450px / 480px
  	}
  	*/
  /* - GRID OF EIGHT TURNS INTO A GRID OF FOUR - */
  .span_8_of_8 {
    width: 100%;
    margin-left: 0; }

  .span_7_of_8 {
    width: 100%;
    margin-left: 0; }

  .span_6_of_8 {
    width: 100%;
    margin-left: 0; }

  .span_5_of_8 {
    width: 100%;
    margin-left: 0; }

  .span_4_of_8 {
    width: 100%;
    margin-left: 0; }

  .span_3_of_8 {
    width: 74.2%;
    margin: 1% 0 1% 3.2%; }

  .span_2_of_8 {
    width: 48.4%;
    margin: 1% 0 1% 3.2%; }

  .span_1_of_8 {
    width: 22.6%;
    margin: 1% 0 1% 3.2%; }

  .span_1_of_8:nth-child(4n+1) {
    clear: both;
    margin-left: 0; }
