/* --- Forms --- */
$base-form-background: $white;
$base-button-background: $base-bar-gradient;
$secondary-form-background: $light-shadow;
$secondary-button-background: $rust;


button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	@include font-size(0.875);
	background: $base-button-background;
	border: 1px solid $base-border-color;
	border-radius: 3px;
	color: $base-font-color;
	cursor: pointer;
	font-weight: bold;
	overflow: visible;
	padding: .3em .75em;

	&:hover {
		background: $secondary-button-background;
		color: $inverted-font-color;
	}
}

button,
select {
	text-transform: none;
}

button[disabled],
input[disabled] {
	background: $disabled-background;
	color: $base-font-color;
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

fieldset {
	border: 1px solid $base-border-color;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

%fields {
	background: linear-gradient(to bottom, $light-shadow, $white 1em);
	font-family: $secondary-font;
	font-size: 0.875em;
	padding: .5em .25em;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
textarea {
	@extend %fields;
	border: 1px solid $base-border-color;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	@extend %fields;
	height: auto;
}

input[type="search"],
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	@extend %fields;
	padding: 0 5px;
	-webkit-appearance: none;
}

input[type="submit"] {
	@extend button;
	background: $secondary-button-background;
	color: $inverted-font-color;

	&:hover {
		background: $base-button-background;
		color: $base-font-color;
	}
}

input[type="reset"] {
	@extend button;
}

legend {
	border: 0;
	padding: 0;
}

optgroup {
	font-weight: bold;
}

textarea {
	@extend %fields;
	overflow: auto;
}
