// sass-lint:disable no-ids

#arras-right-col {
  float: right;
}

#arras-settings-form,
#arras-posttax-form {
  float: right;
  margin: 0 0 0 10px;
}

#arras-tabs {
  li {
    float: right;
  }
}

.padding-content {
  .enabler {
    float: left;
  }
}

.form-table {
  th {
    text-align: right;
  }
}
