/* --- Base Fonts --- */

$base-font: Helvetica, Arial, sans-serif;
$base-font-color: $dark;
$base-font-size: 1;

$monospace-font: Consolas, Monaco, Courier, monospace;
$monospace-font-color: $steel;
$monospace-font-size: 0.9375;

$inverted-font-color: $whisp;