/** ----- Old stuff ----- */

.main-menu {
	clear: both;
	line-height: 2;
}
.main-menu ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
	z-index: 99999;
}
.main-menu ul ul {
	background-color: #322c2c;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 99%;
	left: -999em;
}
.main-menu ul ul ul {
	background-color: #383838;
	left: -999em;
	top: 7px;
}
.main-menu ul ul li:hover > ul {
	left: 100%;
}
.main-menu ul ul a {
	width: 200px;
}
.main-menu ul li:hover > ul {
	left: auto;
}
.main-menu li {
	float: left;
	position: relative;
}
.main-menu a,
.main-menu a:link,
.main-menu a:hover,
.main-menu a:visited {
	color: #aaa;
	display: block;
	font-size: 1.6rem;
	margin: 0 10px;
	text-decoration: none;
}
.main-menu a:hover {
	color: white;
	text-shadow: 1px 1px #999999;
}

