


/** ----- Old stuff ----- */

.primary-utility {
	background: #111;
	color: #aaa;
}

.top-menu {
	clear: both;
	line-height: 2;
	height: 33px;
	padding: 3px 0;
	text-transform: uppercase;
}
.top-menu ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.top-menu ul ul {
	background-color: #111;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 99%;
	left: -999em;
	z-index: 99999;
}
.top-menu ul ul li:hover > ul {
	left: 100%;
}
.top-menu ul ul a {
	width: 150px;
}
.top-menu ul li:hover > ul {
	left: auto;
}
.top-menu li {
	border-right: 1px solid #333;
	float: left;
	position: relative;
}
.top-menu li:last-child,
.top-menu li li {
	border: none;
}
.top-menu a,
.top-menu a:link,
.top-menu a:hover,
.top-menu a:visited {
	color: #aaa;
	display: block;
	margin: 0 10px;
	text-decoration: none;
}
.top-menu a:hover {
	color: white;
	text-shadow: 1px 1px #999999;
}


