/* Comments (List) */

.comment-list {
	list-style: none;
	padding: 10px 10px 0;
	margin: 0 10px 0 0;
	background: #F0F0F0;
	border: solid #CCC;
	border-width: 0 1px;
}

.comment-list li {
	margin-bottom: 10px;
}

.comment-list p {
	clear: left;
	line-height: 1.8;
}

.comment-list .reply {
	float: right;
}

.comment-list .comment-node  { margin-bottom: 10px; }
.comment-list .children	{ clear: right; margin-left: 20px; list-style: none; padding: 0; }
.comment-list .comment-respond	{ clear: both; margin: 10px; }
.comment-list .comment-respind .module-title { margin: 0; }
.comment-list .comment-respind .comment-form	{ margin: 0; }
.comment-list .comment-author	{ padding: 10px 0 0 10px;}
.comment-list .comment-meta		{ padding: 0 10px; }
.comment-list .comment-content	{ padding: 0 10px; }
.comment-list .comment-controls	{ padding: 15px 10px; float: right; }


.comment-list .avatar  { border: 1px solid #CCC; padding: 1px; float: left; margin: 0 5px 10px 0; }
.comment-list cite  { font-weight: 700; font-style: normal; line-height: 20px; }

.comment-list .comment-node  { background: #FFF; border: 1px solid #CCC; }
.comment-list .children .comment-node  { background: #F5F5F5; }
.comment-list .comment-meta, .comment-list .comment-meta abbr	{ border: none; text-decoration: none; color: #999; }
.comment-list .comment-controls	{ padding: 15px 10px; font-weight: 700; float: right; }

.comment-list .comment-controls a:link,
.comment-list .comment-controls a:visited {
	color: #000;
	text-decoration: none;
	padding: 4px 8px;
	margin: 0;
	border: 1px solid #CCC;
	font-weight: 700;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.comment-list .comment-controls a:hover	{ background: #313428; color: #FFF; }

.comment-list .reply a,
.comments-navigation a,
.read-more, .navigation a {
	color: #000;
	text-decoration: none;
	padding: 5px 8px;
	margin: 0;
	border: 1px solid #CCC;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
}

.comment-list .reply a:hover,
.comments-navigation a:hover,
.navigation a:hover,
.read-more:hover {
	background: #313428;
	color: #FFF;
}

.comments-navigation {
	clear: both;
	margin: 0 10px 10px 0;
	background: #F0F0F0;
	padding: 0 10px 10px;
	border: solid #CCC;
	border-width: 0 1px 1px;
}

.comments-navigation .current {
	background: #313428;
	color: #FFF;
	text-decoration: none;
	padding: 5px 8px;
	margin: 0;
	border: 1px solid #CCC;
	border-radius: 3px;
}

.comments-navigation a	{ display: inline-block; }


/* Comments (Form) */

.comment-form {
	margin: 0 10px 10px 0;
	padding: 10px;
	overflow: hidden;
	background: #fff;
	border: solid #CCC;
	border-width: 0 1px 1px;
}
.comment-form textarea	{ width: 98%; height: 150px; padding: 5px; }
.comment-form .error	{ display: block; padding: 5px; }

.comment-form label		{ color: #999; }
.comment-form label.error  { margin: 5px 0; color: #D8000C; font-weight: bold; padding: 5px; }
.comment-form .required	{ color: #FF0000; }
.comment-form input[type=text]  { display: block; width: 300px; font: 14px 'Lucida Grande',Arial,Helvetica,sans-serif; margin: 5px 0; }
.comment-form textarea	{ display: block; font: 14px 'Lucida Grande',Arial,Helvetica,sans-serif; width: 90%; margin-bottom: 5px; }

.comment-reply-title a {
	padding: 0 10px;
}


.nocomments	{
	background: #FFF;
	border: solid #CCC;
	border-width: 0 1px 1px;
	padding: 15px 10px;
	margin: 0 10px 10px 0;
}



.pingbacks				{ background: #FFF; border: solid #CCC; border-width: 0 1px 1px; padding: 15px 10px 15px 30px; margin: 0 10px 20px 0; }
.pingbacks li			{ padding: 2px 0; font-weight: 700; }
.pingbacks a:link, .pingbacks a:visited	{ text-decoration: none; }

