/* Featured Slideshow */
.featured  {
	margin-bottom: 20px;
	position: relative;
}

.slide-controls {
	margin-top: -15px;
	position: absolute;
	top: 50%;
	width: 100%;
	z-index: 90;
}

.cycle-next,
.cycle-prev {
	color: transparent;
	width: 30px;
	height: 30px;
	display: block;
	z-index: 1000;
	opacity: 0.7;
}

.cycle-prev {
	background: url(../../images/prev.png) no-repeat;
	float: left;
	position: absolute;
	left: 10px;
}

.cycle-next {
	background: url(../../images/next.png) no-repeat;
	float: right;
	position: absolute;
	right: 10px;
}

.cycle-next:hover,
.cycle-prev:hover {
	opacity: 1;
}

.cycle-slideshow {
	border: 5px solid #333;
	position: relative;
	z-index: 0;
}
.cycle-slideshow .cycle-slide {
	display: none;
	bottom: 0;
	right: 0;
}

.cycle-slideshow .cycle-slide:first-child {
	display: block;
}

.cycle-slideshow .cycle-slide img {
	height: 100%;
	width: 100%;
}

.cycle-overlay {
	background: #000;
	bottom: 0;
	color: #fff;
	line-height: 1.2;
	opacity: 0.7;
	padding: 15px;
	position: absolute;
	width: 100%;
	z-index: 600;
}
.cycle-overlay a {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
}
.cycle-overlay .entry-title {
	margin: 0;
}

