// sass-lint:disable force-pseudo-nesting

.quick-nav {
  float: right;
  list-style: none;
  margin: 0 10px;
  padding: 0;

  li {
    display: inline;
    float: left;
    padding: 5px 0 0 5px;
  }

  a:link,
  a:visited {
    clear: left;
    display: block;
    float: left;
    height: 20px;
    opacity: .6;
    text-indent: -9000px;
    width: 20px;
  }

  a:hover {
    opacity: 1;
  }

  .rss {
    background: url('../../images/social/rss.png') no-repeat center center;
  }

  .twitter {
    background: url('../../images/social/twitter.png') no-repeat center center;
  }

  .facebook {
    background: url('../../images/social/facebook.png') no-repeat center center;
  }

  .gplus {
    background: url('../../images/social/gplus.png') no-repeat center center;
  }

  .flickr {
    background: url('../../images/social/flickr.png') no-repeat center center;
  }

  .youtube {
    background: url('../../images/social/youtube.png') no-repeat center center;
  }
}
