/** ----- Footer Widgets ----- */
.page-footer .widgetcontainer {
	background: none;
	border: none;
	padding: 5px 10px;
	margin-right: 10px;
	float: left;
}

.page-footer .widgettitle {
	background: none;
	border: none;
	color: #444;
	padding: 0 0 10px;
	letter-spacing: -1px;
	margin: 0;
}

.page-footer .widgetcontent {
	border: none;
	padding: 0;
}

