//Grayscales

$black: #000;
$off-black: #111;
$dark-slate: #333;
$slate: #444;
$dark-gray: #666;
$gray: #999;
$light-gray: #aaa;
$silver: #ccc;
$light-silver: #ddd;
$shade: #eaeaea;
$wisp: #efefef;
$cloud: #f0f0f0;
$trace: #f5f5f5;
$white: #fff;


// Darks

$dark-rust: #383331;
$darker-rust: #313428;
$lighter-rust: #322e2c;


// Reds

$red: #f00;
$deep-red: #c00;
$bluesy-red: #d8000c;


// Semantic

$page-bg--base: $cloud;
$top-nav-bg: $off-black;

$code-bg: $shade;
$code-bg--alt: $lighter-rust;
$tile-bg: $white;
$table-header-bg: $light-silver;

$text-color--base: $dark-slate;
$text-color--alt: $black;
$text-color--light: $dark-gray;
$text-color--inverse: $white;
$text-color--inactive: $silver;
$text-color--codeblock: $lighter-rust;

$link-color--base: $darker-rust;
$link-color--hovered: $deep-red;

$border-color--base: $silver;
$border-color--top-nav: $dark-slate;
