table {
  border: 1px solid $border-color--base;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
  word-break: break-all;
}

td,
th {
  border: 1px solid $border-color--base;
  padding: 5px;
}

th {
  background-color: $table-header-bg;
  font-weight: $font-weight--bold;
  text-align: center;
}

td {
  background-color: $page-bg--base;
  text-align: left;
}
