/*  Alignments
 * ------------------------------------------------------------------ */

.floatleft  { float: left; }
.floatright  { float: right; }

.textcenter  { text-align: center; }
.textright  { text-align: right; }
.textleft  { text-align: left; }
