/** ----- Layouts -----*/
.wrap {
	margin: auto;
	max-width: 1000px;
	position: relative;
}

.wrap-alt {
	padding: 10px 23.8%;
}

%post {
	background: $secondary-content-background;
	border: 1px solid $base-border-color;
}