/* --- Meta --- */
$meta-base-color: $stormcloud;
$meta-border: 1px dotted $base-border-color;
%meta {
	@include font-size(0.8125);
	color: $meta-base-color;
}

.entry-meta {
	@extend %meta;
	border-bottom: $meta-border;
	margin-top: .25em;
	padding-bottom: .5em;
	text-transform: uppercase;
}

.entry-meta-footer {
	@extend %meta;
	border-top: $meta-border;
	font-weight: bold;
	margin: 1.5em 0 1em;
	padding-top: 1em;
}

.meta-label {
	text-transform: uppercase;
}