.site-footer {
  background: $trace;
  border: 1px solid $silver;
  margin: 20px auto 0;
  padding-bottom: 10px;
  width: 980px;
}

.footer-sidebar-container {
  border-bottom: 1px solid $silver;
  margin: 10px;
  overflow: hidden;

  .footer-sidebar {
    float: left;
    margin: 0;
    overflow: hidden;
    padding: 0 0 10px;
  }

  .widgetcontainer {
    background: none;
    border: 0;
    float: left;
    margin-right: 10px;
    padding: 5px 10px;
  }

  .widgettitle {
    background: none;
    border: 0;
    color: $slate;
    font-size: 14px;
    letter-spacing: -1px;
    margin: 0;
    padding: 0 0 10px;
  }

  .widgetcontent {
    background: none;
    border: 0;
    font-size: 12px;
    padding: 0;
  }
}


.footer-message {
  font-size: 11px;
  margin: 0;
  padding: 10px 15px 0;

  p {
    margin: 0 0 .5em;
  }

  .floatright {
    margin-left: 20px;
  }
}
