.main {
  margin: 0 auto;
  position: relative;
  width: 960px;

  .module,
  .single-post {
    margin-right: 10px;
  }
}

.primary-content-container {
  float: left;
  width: 660px;

  .section {
    margin: 0;
    overflow: hidden;
    width: 660px;
  }
}

.primary-sidebar {
  float: right;
  position: relative;
  width: 300px;
}

.secondary-sidebar {
  clear: right;
  float: right;
  width: 300px;
}
