// sass-lint:disable-all

.logo {
  float: right;
}

.primary-nav .sf-menu {
  float: right;
}

ul {
  &.sf-menu {
    li {
      float: right;

      &:hover ul,
      &.sfHover ul {
        left: auto;
        right: 0
      }
    }

    li li:hover ul,
    li li.sfHover ul,
    li li li:hover ul,
    li li li.sfHover ul {
      left: auto;
      right: 11em
    }

    .sf-with-ul {
      padding: 0 0 0 15px;
    }

    .sf-sub-indicator {
      left: auto;
      right: 7px;
    }
  }
}

.quick-nav {
  float: left;

  li {
    float: right;
    padding: 5px 8px 0 0;
  }
}

#searchbar {
  float: left;
}

.searchform {
  .s {
    float: right;
  }

  .searchsubmit {
    float: left;
  }
}

.widgetcontainer {
  ul,
  ol,
  .xoxo {
    margin: 0 15px 0 0;
  }
}

.multi-sidebar {
  .tabs li {
    float: right;
  }

  .thumb,
  .recentcomments {
    float: right;
    margin: 0 0 0 10px;
  }
}

.featured-stories {
  .thumb {
    float: right;
    margin: 0 0 0 10px;
  }
}

.posts-default {
  .entry,
  .published,
  .entry-meta,
  img {
    float: right;
  }

  .entry-comments {
    float: left;
    padding: 0 12px 0 0;
  }
}

.posts-quick {
  .entry-thumbnails,
  .entry-meta {
    float: right;
  }

  .entry-thumbnails {
    margin: 0 0 10px 20px;
  }

  .entry-comments {
    float: left;
    padding: 0 12px 0 0;
  }
}

.posts-line {
  .entry-cat,
  .entry-title {
    float: right;
  }

  .entry-comments {
    float: left;
  }
}

.single-post-meta {
  clear: left;
  float: left;
}

.post-edit-link {
  display: block;
  padding: 0;
}

.gallery-item {
  float: right;
}

.about-author {
  .author-meta {
    float: right;
  }
}

.avatar {
  float: right;
  margin: 0 0 10px 10px;
}

.single .post .entry-comments,
.single-post .entry-comments {
  float: left;
  padding: 3px 17px 3px 17px;
}

#commentlist {
  p {
    clear: right;
  }

  .comment-controls,
  .reply {
    float: left;
  }

  .avatar {
    float: right;
    margin: 0 5px 10px;
  }
}

.pingbacks {
  padding: 15px 30px 15px 10px;
}

#cancel-comment-reply-link {
  float: left;
  padding: 0 10px 0 0;
}

.site-footer {
  .widgetcontainer,
  .footer-sidebar {
    float: right;
  }

  .footer-message .floatright {
    float: left;
  }
}