// Search results
// ---------------

.search-results {
  margin-bottom: 20px;
}

.results-title {
  @include font-size(20);
  @include title-font;
  border-bottom: 1px solid $border-color__base;
  margin: 15px 0 10px;
  padding-bottom: 5px;
  text-transform: uppercase;
}
