// Caption
// ---------------

.wp-caption {
  background-color: $page-background-color__secondary;
  border: 1px solid $border-color__base;
  text-align: center;

  img {
    margin: 5px;
  }

  .wp-caption-text {
    @include font-size(14);
    font-weight: $font-weight__bold;
    margin-bottom: 4px
  }
}
