/* --- Top Menu --- */
$base-top-menu-background: $near-black;
$base-top-menu-border: $dark;
$base-top-menu-color: $light-grey;
$hover-top-menu-color: $whisp;

.menu-top-container {
	background: $base-top-menu-background;
	border-bottom: 1px solid $base-top-menu-border;
}

.menu-top {
	@include font-size(0.75);
	line-height: 2.5;
	margin: 0;
	padding: .15em 0;
	text-transform: uppercase;

	li {
		display: block;
		float: left;
		border-right: 1px solid $base-top-menu-border;

		&:first-child > a {
			padding-left: 0;
		}

		a {
			color: $base-top-menu-color;
			padding: 0 1em;


			&:visited {
				color: $base-top-menu-color;
			}

			&:hover {
				color: $hover-top-menu-color;
			}
		}
	}
}
