/* --- Button ---
%button {
	background: $base-bar-gradient;
	color: $base-font-color;
	cursor: pointer;
	overflow: visible;
	padding: .5em 1em;

	&:hover {
		background: $disabled-background;
		color: $base-font-color;
	}
}
*/