/* Author Template */

.author-title,
.archive-title {
	border-bottom: 1px solid #DDD;
	color: #333;
	margin: 0 15px 10px 0;
	padding: 0 3px 8px;
}

.author-content	{
	margin-right: 10px;
}

.author-content dl {
	margin-left: 115px;
}

.about-author  { border: 1px solid #CCC; background: #F5F5F5; }

.about-author  { padding: 10px; margin: 0 0 10px; line-height: 1.5em; }
.about-author .avatar  { margin-bottom: 0; }
.about-author .author-meta  { float: left; width: 85%; }

.avatar					{ float: left; margin: 0 10px 10px 0; border: 1px solid #CCC; padding: 2px; background: #FFF; }
