.entry-content {
	margin: 10px 0;
	line-height: 1.5em;
	overflow: hidden;
}

.entry-content ul,
.entry-content ol {
	margin: 0 20px;
	padding: 0 0 1.5em;
}

.entry-content ul ul,
.entry-content ol ol,
.entry-content ol ul,
.entry-content ul ol {
	padding: 0;
}

.entry-content blockquote {
	font-style: italic;
}

.entry-content form {
	margin: 1em 0;
}

.traditional .entry-comments {
	background: rgba(50, 50, 50, 0.7) url("../../images/comments.gif") no-repeat scroll 2px center;
	border-radius: 7px;
	float: right;
	margin: 15px;
	padding: 3px 5px 3px 15px;
}
.traditional .entry-comments a {
	color: #fff;
}

.post-edit-link:link, .post-edit-link:visited  { padding: 0 0 0 14px; }

.page .entry-content  { margin: 0 0 20px; }

/* common classes */
/* meta */
.tags a:link, .tags a:visited	{ text-decoration: none; font-weight: 700; padding: 0 5px 3px; line-height: 1.3em; display: inline-block; }
.tags a:hover					{ text-decoration: underline; }
