/* Footer */

.page-footer	{
	background: #F5F5F5;
	border: 1px solid #CCC;
	margin: 20px auto 0;
	padding: 10px;
}

.page-footer .widgetcontainer {
	background: none;
	border: none;
	padding: 5px 10px;
	margin-right: 10px;
	float: left;
}

.page-footer .widgettitle {
	background: none;
	border: none;
	color: #444;
	padding: 0 0 10px;
	letter-spacing: -1px;
	margin: 0;
}

.page-footer .widgetcontent {
	border: none;
	padding: 0;
}

.footer-message	{
	margin: 0;
	padding: 10px 15px 0;
}

.footer-message p {
	margin: 0 0 0.5em;
}

.footer-message .floatright {
	margin-left: 20px;
}

.footer-sidebar	{
	overflow: hidden;
	padding: 0 0 10px;
}

.footer-sidebar-container {
	border-bottom: 1px solid #CCC;
	margin: 10px;
}
