/* Structure */

.site {
	position: relative;
}

.wrap {
	margin: auto;
	max-width: 1000px;
	position: relative;
}

.wrap-alt {
	padding: 10px 23.8%;
}

.page-body {
	min-height: 100%;
	position: relative;
	padding: 20px 0;
}

.main {
	background: #F5F5F5;
	border: 1px solid #d3d1c7;
	padding: 10px;
}
