/** ----- Main Menu ----- */
$base-main-menu-background: $brick;
$base-main-menu-border: $dark;
$base-main-menu-color: $light-grey;
$hover-main-menu-background: $dark;
$hover-main-menu-color: $white;

.menu-main-container {
	background: $base-main-menu-background;
}

.menu-main {
	@include font-size(0.875);
	line-height: 2.5;
	margin: 0 0 0 -1em;
	padding: 0;

	li {
		display: block;
		float: left;
		position: relative;

		&:hover > ul {
			left: auto;
			padding: 0;
		}
	}

	.edge:hover > ul {
		left: auto;
		right: 0;
	}

	a {
		background: $base-main-menu-background;
		color: $base-main-menu-color;
		display: block;
		padding: 0 1em;

		&:hover {
			background: $hover-main-menu-background;
			color: $hover-main-menu-color;
		}
	}

	ul {
		box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.25);
		padding: 0;
		position: absolute;
		left: -999em;
		width: 200px;
		z-index: 100;

		li {
			float: none;

			&:hover {
				background: $hover-main-menu-color;
			}

			&:hover > ul {
				left: 100%;
				top: 0;
			}
		}

		a {
			@include font-size(0.75);

			&:hover {
				background: $hover-main-menu-color;
				color: $base-font-color;
			}
		}

		.menu-item-has-children > a:after {
			content: ' \f0da';
		}

	}

	.menu-item-has-children > a:after {
		font-family: FontAwesome;
		content: ' \f0d7';
	}
}

/* --- Top Menu --- */
$base-top-menu-background: $near-black;
$base-top-menu-border: $dark;
$base-top-menu-color: $light-grey;
$hover-top-menu-color: $wisp;

.menu-top-container {
	background: $base-top-menu-background;
	border-bottom: 1px solid $base-top-menu-border;
}

.menu-top {
	@include font-size(0.75);
	line-height: 2.5;
	margin: 0;
	padding: .15em 0;
	text-transform: uppercase;

	li {
		display: block;
		float: left;
		border-right: 1px solid $base-top-menu-border;

		&:first-child > a {
			padding-left: 0;
		}

		a {
			color: $base-top-menu-color;
			padding: 0 1em;


			&:visited {
				color: $base-top-menu-color;
			}

			&:hover {
				color: $hover-top-menu-color;
			}
		}
	}
}

/** ----- Other Navigation ----- */
.post-navigation,
.posts-navigation {
	@include font-size(0.875);
	margin: 10px 0;
}

.post-nav,
.nav-links {
	div {
		display: inline-block;
	}

	a {
		@extend button;
		display: inline-block;
		margin: 0 1em 0 0;
	}
}
