/** ----- Search ----- **/
$base-search-content: $white;

.search-results-title {
	@extend .module-title;
}

.search-results-content {
	background: $base-search-content;
	border: 1px solid $base-border-color;
	padding: 10px;

	p {
		margin: 0;
	}

	.search-form {
		margin-top: 10px;
	}
}

.search-results-no-content {
	@extend .module;
	@extend .search-results-content;
}

.search-terms {
	font-weight: bold;
}

.search-form {
	position: relative;

	&:after {
		bottom: 0;
		content: '\f002';
		font-family: FontAwesome;
		padding: 3px;
		position: absolute;
		right: 0;
		top: 0;
		width: 20px;
	}

	.search-field {
		border: 1px solid $base-border-color;
		padding: 5px;
		position: relative;
		width: 100%;
	}

	.search-submit {
		background: transparent;
		color: transparent;
		border: none;
		bottom: 0;
		overflow: hidden;
		padding: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 35px;
		z-index: 2;

		&:hover {
			background: transparent;
			color: transparent;
		}
	}
}