/* Sidebars and Widgets */

.xoxo {
	list-style: none;
	padding: 0;
	margin: 0;
}

.widgetcontainer {
	padding: 10px;
	margin-bottom: 10px;
}

.widgetcontainer ul,
.widgetcontainer .xoxo,
.widgetcontainer ol {
	list-style: disc;
	margin: 0 0 0 15px;
	padding: 0;
}

.widgetcontainer li {
	margin: 3px 0;
}

.widgetcontainer input[type=text],
.widgetcontainer input[type=password] {
	width: 80%;
}

.widgetcontainer {
	border: solid #CCC;
	border-width: 1px;
	background: repeat-x #FFF;
	line-height: 1.5;
}

.widgetcontainer a {
	font-weight: bold;
}

.widgetcontainer .excerpt {
	margin: 5px 0;
}

.widgettitle {
	color: #aaa;
	font-weight: 700;
	margin: -10px -10px 10px;
	padding: 5px 10px;
	background: #efefef; border-bottom: 1px solid #CCC;
}

.widgettitle a {
	color: #fff;
}

/* Featured Articles Widget */

.featured-stories li {
	list-style: none;
}

.widget-thumb {
	float: left;
	margin: 4px 4px 4px 0;
	max-width: 115px;
	width: 30%;
}

.widget-thumb a {
	width: 100%;
}

.featured-stories .thumb {
	float: left; border: 1px solid #CCC; margin: 0 10px 0 0; background: #FFF; padding: 2px; }

.sidebar-read-more:link,
.sidebar-read-more:visited {
	text-transform: uppercase;
	font-weight: normal;
	padding: 2px 4px;
	margin: 5px 0 0;
	display: inline-block;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	color: #FFF;
	background: #333;
}

.sidebar-read-more:hover {
	background: #CC0000;
}

/* Below-Content Widgets */
.below-content-widgets .widgettitle {
	background: #f0f0f0;
}

