/** ----- Titles ----- */
.home-title {
	border-bottom: 1px solid #CCC;
	color: #333;
	font-variant: small-caps;
	margin: 25px 0 10px;
}

.entry-title {
	@include font-size(1.5);
	font-weight: bold;
	line-height: 1.3;
	margin: 1em 0 0;
	padding: 0;
}

.module-title {
	@include font-size(0.875);
	background: $secondary-bar-gradient;
	border: 1px solid $base-border-color;
	border-bottom: none;
	margin: 0;
	padding: .5em .75em;
}

.feed-title {
	line-height: 1em;
	color: #333;
	font-weight: 700;
	margin: 0 10px 0 0;
	padding: 7px 10px;
	border: 1px solid #CCC;
	display: block;
}

.feed-title  { border-bottom: none; }
