// Typography Variables
// ------------------------------

// Font Families
// ---------------
$font-family__base: Arial, Helvetica, sans-serif;
$font-family__alternate: "Times New Roman", Times, serif;
$font-family__monospace: Courier, monospace;

// Font Weights
// ---------------
$font-weight__base: 400;
$font-weight__bold: 700;
