// Entry Meta
// ---------------

.entry-title {
  @include title-font;
  @include font-size(30);
  line-height: 1.3;
  margin: 15px 0 5px;
  word-wrap: break-word;
}

.entry-meta {
  @include clearfix;
  border-bottom: 1px dotted $border-color__base;
  color: $text-color__inactive;
  font-variant: small-caps;
  margin-bottom: 10px;
  padding-bottom: 10px;

  p {
    @include font-size(14);
    line-height: 1.15;
    margin: 5px;
  }
}

.entry-image {
  margin: 10px 0;

  img {
    background-color: $content-background-color__base;
    border: 1px solid $border-color__base;
    display: block;
    margin: 0 auto;
    padding: 2px;
  }
}

.entry-author {
  font-weight: $font-weight__bold;
}

.entry-footer {
  @include clearfix;
  border-top: 1px dotted $border-color__base;
  color: $text-color__inactive;
  font-variant: small-caps;
  margin: 15px 0;
  padding-top: 10px;

  .tag-list {
    font-variant: normal;
  }
}

