// sass-lint:disable-all

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

/* Common Classes */
.aligncenter {
  display: block;
  margin: 0 auto !important;
}

.alignright {
  float: right;
  margin: 0 0 1em 1em;
}

.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.textcenter {
  text-align: center;
}

.textright {
  text-align: right;
}

.textleft {
  text-align: left;
}

.ui-tabs-hide, .hide {
  display: none !important;
}

.xoxo {
  padding: 0;
}

/* Search Bar */
#searchbar {
  float: right;
  margin: 25px 10px 0 0;
  overflow: hidden;
}

/* Sidebar */
.sidebar .xoxo {
  list-style: none;
  margin: 0;
  padding: 0;
}

.widgetcontainer {
  margin-bottom: 10px;
  padding: 10px;
}

.widgetcontainer ul, .widgetcontainer .xoxo, .widgetcontainer ol {
  list-style: disc;
  margin: 0 0 0 15px;
  padding: 0;
}

.widgetcontainer li {
  margin: 3px 0;
}

.widgetcontainer input[type=text], .widgetcontainer input[type=password] {
  width: 80%;
}

.multi-sidebar .tabs {
  list-style: none;
  margin: 0 0 5px;
  overflow: hidden;
  padding: 0;
}

.multi-sidebar .tabs li {
  float: left;
  margin: 0 3px 5px 0;
  padding: 5px;
}

.multi-sidebar .widgetcontainer {
  margin-bottom: 10px;
  padding: 10px;
}

.multi-sidebar .widgetcontainer ul, ul.featured-stories, ul.related-posts {
  list-style: none;
  margin: 0;
}

.multi-sidebar .widgetcontainer li, .featured-stories li, .related-posts li {
  margin: 0 0 10px;
  padding: 0 0 10px;
}

#wp-calendar {
  width: 100%;
}

/* Featured Slideshow */
.featured {
  display: block;
  margin: 0 10px 20px 0;
  overflow: hidden;
}

#controls {
  float: left;
  position: relative;
  top: 90px;
  z-index: 90;
}

#controls .next, #controls .prev {
  display: block;
  height: 30px;
  opacity: 0.7;
  text-indent: -9000px;
  width: 30px;
  z-index: 1000;
}

#controls .prev {
  background: url('../images/prev.png') no-repeat;
  float: left;
  left: 10px;
  position: absolute;
}

#controls .next {
  background: url('../images/next.png') no-repeat;
  float: right;
  left: 610px;
  position: absolute;
}

#controls .next:hover, #controls .prev:hover {
  opacity: 1;
}

#featured-slideshow {
  position: relative;
  z-index: 0 !important;
}

.featured-article {
  display: block;
}

.featured-entry {
  display: block;
  opacity: 0.8;
  overflow: hidden;
  padding: 0;
  position: relative;
  top: -85px;
}

.featured-entry .entry-title {
  display: block;
}

.featured-entry .entry-summary {
  display: block;
  margin: 0;
  padding: 0 15px;
}

/* Bottom Content */
#bottom-content-1, #bottom-content-2 {
  float: left;
  list-style: none;
  margin: 0 10px 10px 0;
  overflow: hidden;
  padding: 0;
  width: 320px;
}

.layout-3c-r-fixed #bottom-content-1, .layout-3c-r-fixed #bottom-content-2, .layout-3c-fixed #bottom-content-1, .layout-3c-fixed #bottom-content-2 {
  width: 243px;
}

/* Tapestries */
.entry-thumbnails {
  clear: both;
  display: inline-block;
}

.entry-thumbnails-link {
  display: block;
  float: left;
}

.posts-default, .posts-quick, .posts-line {
  list-style: none;
  margin: 0 0 10px;
  overflow: hidden;
  padding: 0;
}

.posts-default {
  margin: 0 0 20px;
}

.posts-default .entry, .posts-default img {
  float: left;
  overflow: hidden;
  padding: 0;
}

.posts-default .entry-title {
  line-height: 1.4em;
  margin: 5px;
}

.posts-default .entry-summary {
  line-height: 1.4em;
  margin: 0 5px;
  overflow: hidden;
  padding-bottom: 10px;
}

.posts-default .entry-thumbnails-link {
  padding: 4px;
}

.posts-default .published {
  float: left;
  margin: 5px 5px 0;
}

.posts-quick {
  margin: 0 10px 10px 0;
  padding: 0;
}

.posts-quick li {
  margin: 0 0 10px;
  padding: 0 10px 0 0;
}

.posts-quick .entry-title {
  line-height: 1.3em;
  margin: 0;
  padding: 5px 0 0;
}

.posts-quick .entry-summary {
  line-height: 1.6em;
  margin-bottom: 15px;
}

.posts-quick .entry-thumbnails {
  float: left;
  margin: 0 20px 10px 0;
  padding: 4px;
}

.posts-quick .quick-read-more {
  margin: 10px 0 5px;
}

.posts-quick .entry-info {
  margin: 0 0 5px;
}

.posts-quick .entry-info abbr {
  padding: 0 4px 0 0;
}

.posts-quick .entry-info span {
  padding: 0 4px;
}

.posts-default .entry-meta, .posts-quick .entry-meta {
  display: block;
  float: left;
  margin: -25px 0 0;
}

.posts-default .entry-comments, .posts-quick .entry-comments {
  background: url('../images/comments.gif') no-repeat left center;
  float: right;
  margin: 5px 5px 0;
  padding: 0 0 0 12px;
}

.posts-line {
  line-height: 1.4em;
  margin: 0 10px 10px 0;
  padding: 10px;
}

.posts-line li {
  padding: 7px 0;
}

.posts-line .entry-cat {
  float: left;
  overflow: hidden;
  width: 100px;
}

.posts-line .entry-title {
  float: left;
  line-height: 1.4em;
  margin: 0;
  max-width: 450px;
}

.layout-3c-fixed .posts-line .entry-title, .layout-3c-r-fixed .posts-line .entry-title {
  max-width: 300px;
}

.posts-line .entry-comments {
  float: right;
}

.navigation {
  margin: 0 10px 20px 0;
  text-align: center;
}

/* Single Post */
.single .post, #main .single-post {
  margin: 0 10px 15px 0;
  padding: 0 15px;
}

.single .post .entry-title, .single-post .entry-title {
  line-height: 1.3em;
  margin: 15px 0 5px;
  padding: 0;
}

.single .post .entry-info, .single-post .entry-info {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.single .post .entry-cat, .single-post .entry-cat {
  display: block;
  margin: 5px 0 0;
}

.single .post .entry-author, .single-post .entry-author {
  display: inline;
  margin: 0;
}

.single .post .entry-author address, .single-post .entry-author address {
  display: inline;
}

#main .single .post .tags, #main .single-post .tags {
  margin: 15px 0;
  padding: 15px 0 0;
}

#main .single .post .tags a, #main .single-post .tags a {
  padding: 0;
}

.single .post .entry-photo, .single-post .entry-photo {
  overflow: hidden;
}

.single .post .entry-photo img, .single-post .entry-photo img {
  margin: 10px auto;
}

.single-post-meta {
  clear: right;
  float: right;
  margin: 1em 0 1em 1em;
  width: 40%;
}

.entry-content {
  font-size: 12px;
  line-height: 1.5em;
  margin: 10px 0;
  overflow: hidden;
}

.entry-content form {
  margin: 1em 0;
}

.post-edit-link:link, .post-edit-link:visited {
  padding: 0 0 0 14px;
}

.page .entry-content {
  margin: 0 0 20px;
}

.layout-3c-r-fixed .post .entry-photo, .layout-3c-r-fixed .single-post .entry-photo, .layout-3c-fixed .post .entry-photo, .layout-3c-fixed .single-post .entry-photo {
  width: 480px;
}

.gallery {
  clear: both;
  margin: 10px 0;
}

.gallery-item {
  float: left;
  margin-right: 10px;
  text-align: center;
  width: 31%;
}

.gallery-icon img {
  padding: 4px;
}

.gallery-caption {
  font-size: 12px;
}

.about-author {
  line-height: 1.5em;
  margin: 0 0 10px;
  padding: 10px;
}

.about-author .avatar {
  margin-bottom: 0;
}

.about-author .author-meta {
  float: left;
  width: 85%;
}

.about-author h4 {
  margin: 0 0 5px;
}

/* Comments */
#commentlist {
  list-style: none;
  margin: 0 10px 0 0;
  padding: 10px 10px 0;
}

#commentlist li {
  margin-bottom: 10px;
}

#commentlist p {
  clear: left;
  line-height: 1.8em;
}

#commentlist .reply {
  float: right;
}

#commentlist .comment-node {
  margin-bottom: 10px;
}

#commentlist .children {
  clear: right;
  list-style: none;
  margin-left: 20px;
  padding: 0;
}

#commentlist #respond {
  clear: both;
  margin: 10px;
}

#commentlist #respond .module-title {
  margin: 0;
}

#commentlist #respond #commentsform {
  margin: 0;
}

#commentlist .comment-author {
  padding: 10px 0 0 10px;
}

#commentlist .comment-meta {
  padding: 0 10px;
}

#commentlist .comment-content {
  padding: 0 10px;
}

#commentlist .comment-controls {
  padding: 15px 10px;
  float: right;
}

.comments-navigation {
  clear: both;
  margin: 0 10px 10px 0;
}

#commentform, #commentsform, #disqus_thread {
  margin: 0 10px 10px 0;
  padding: 10px;
  overflow: hidden;
}

#commentform textarea {
  height: 150px;
  padding: 5px;
  width: 98%;
}

#commentform .error {
  display: block;
  padding: 5px;
}

#cancel-comment-reply-link {
  padding: 0 10px;
}

/* Author Template */
.author-content {
  margin-right: 10px;
}

.author-content dl {
  margin-left: 115px;
}
