/** ----- Global Reset ----- */

html {
	font-family: $base-font;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

body,
button,
input,
select,
textarea {
	color: $base-font-color;
	font-family: $base-font;
	@include font-size($base-font-size);
	line-height: $base-line-height;
}

article, aside, details, figcaption, figure,
footer, header, main, menu, nav, section, summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}
