/* --- Single Template */
.single .post,
.single .attachment {
	@extend %post;
	padding: 0 15px;
}

.single-post-attachment {
	margin-top: 15px;
}

.attachment-caption {
	@extend .module;
	text-align: center;
}
