/* --- Site Header --- */
$base-site-header-background: $dark-brown;
$base-site-header-border: $chocolate;
$base-site-header-color: $white;
$secondary-site-header-color: $light-chocolate;

.page-header {
	background: $base-site-header-background;
	border-bottom: 5px solid $base-site-header-border;
}

.logo {
	padding: 30px 0 30px;
}

%header_titles {
	font-family: $secondary-font;
	font-weight: bold;
	line-height: 1;
	margin: 0 0 6px;
	text-transform: uppercase;
}

.site-title {
	@extend %header_titles;
	color: $base-site-header-color;
	@include font-size(1.375);
	letter-spacing: 1px;
 }

.site-description {
	@extend %header_titles;
	color: $secondary-site-header-color;
	@include font-size(0.75);
}

.home-link,
.home-link:hover,
.home-link:visited {
	color: $base-site-header-color;
}

.logo img {
	padding: 20px 0 0 30px;
}


/* Header Widgets */
.headerwidgets {
	margin: 20px 0;
	max-height: 160px;
	overflow: hidden;
	background: transparent;
}
.headerwidgets .widgetcontainer:last-child {
	margin-bottom: 0;
}
