/* Structure */

.site {
	position: relative;
}

.page-body {
	min-height: 100%;
	padding: 20px 0;
}

.page-content {
	background: $base-content-background;
	border: 1px solid $secondary-border-color;
	padding: 10px;
}

.sidebar {
	box-sizing: border-box;
}

.footer-sidebar-container {
	border-bottom: 1px solid #CCC;
}

.footer-sidebar {
	overflow: hidden;
	padding: 0;
}
