// Root colors
// ------------------------------

// Grayscale
// ---------------
$white: #fff;
$off-white: #f5f5f5;
$cloud: #f0f0f0;
$silver: #ccc;
$light-gray: #b2b2b2;
$steel: #999;
$medium-gray: #7f7f7f;
$carbon: #666;
$dark-gray: #4c4c4c;
$slate: #323232;
$off-black: #111;
$black: #000;

// Reds
// ---------------
$deep-red: #1e1b1a;
$brick: #ee2c2c;

// Blues
// ---------------
$standard-blue: #00e;

// Yellows
// ---------------

// Greens
// ---------------

// Purples
// ---------------
$standard-purple: #551a8b;

// Browns
// ---------------
$light-brown: #7d716d;
$rust: #383331;
$dark-rust: #313428;
$light-rust: #322e2c;

// Transparencies
// ---------------
$shadow: rgba(0,0,0,.6);
$shadow-light: rgba(0, 0, 0, 0.05);

// From Legacy Default Palette
//Grayscales

$dark-slate: #333;
$slate: #444;
$dark-gray: #666;
$gray: #999;
$light-gray: #aaa;
$silver: #ccc;
$light-silver: #ddd;
$shade: #eaeaea;
$wisp: #efefef;

$dust: #474331;
$fade: #d3d1c7;

$red: #f00;
$muted-red: #c00;
$bluesy-red: #d8000c;
