// Cycle slider -- legacy
// ---------------

.slideshow-container {
  border: 5px solid $border-color__dark;
  overflow: hidden;
  position: relative;

  .prev,
  .next {
    height: 30px;
    opacity: .75;
    position: absolute;
    text-indent: -9999px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    z-index: 5;
  }

  .prev {
    background-image: url('../images/prev.png');
    left: 10px;
  }

  .next {
    background-image: url('../images/next.png');
    right: 10px;
  }
}

.slideshow {
  position: relative;

  .featured-article {
    display: block;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  .featured-entry {
    background-color: rgba($text-background-color__inverse, .7);
    bottom: 0;
    padding: 10px;
    position: absolute;
    width: 100%;

    .entry-title {
      color: $link-color__inverse;

      &:hover,
      &:focus {
        color: $link-color__hover-inverse;
      }
    }

    .entry-summary {
      color: $text-color__inverse;

      p {
        margin: 0;
      }
    }
  }
}
