// Color Overrides
// ------------------------------

a {
  &:link {
    color: $link-color__base;
  }

  &:visited {
    color: $link-color__visited;
  }

  &:focus {
    color: $link-color__focus;
  }

  &:hover {
    color: $link_color__hover;
  }

  &:active {
    color: $link-color__active;
  }
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.quick-entry .quick-read-more a,
.entries-nav a,
.comment-respond .comment-reply-title small a,
.comment-reply-link,
.comments-navigation a,
.searchform .searchsubmit {
  color: $link-blue;

  &:hover,
  &:focus {
    background-color: $link-blue;
    color: $link-color-_inverse;
  }
}


.before-header {
  background-color: $before-header-background-color__base;
  border-bottom-color: $border-color__dark;
}

.page-header {
  background-color: $header-background-color__base;
  border-bottom-color: $border-color__dark;

  .site-name a {
    color: $link-color__inverse;
  }

  .site-description {
    color: $text-color__muted;
  }
}

.after-header,
.primary-nav-menu .sub-menu,
.widget-container .widget-title,
.comments .comments-title,
.comment-respond .comment-reply-title {
  background-color: $after-header-background-color__base;
}

.widget-title,
.comments-title,
.comment-reply-title {
  color: $link-color__inverse;
}
