/* Single Template */
.single .single-post,
.page .single-post,
.traditional .single-post {
	background: #FFF;
	border: 1px solid #CCC;
	margin: 0 10px 15px 0;
	padding: 0 15px;
}

.single .entry-title,
.page .entry-title,
.traditional .entry-title {
	font-weight: bold;
	line-height: 1.3em;
	margin: 15px 0 5px;
	padding: 0;
}

.single .entry-info,
.page .entry-info,
.traditional .entry-info {
	border-bottom: 1px dotted #CCC;
	color: #848485;
	margin-bottom: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
}

.single-post-meta {
	clear: right;
	float: right;
	margin: 1em 0 1em 1em;
	width: 40%;
}


.single .entry-author,
.page .entry-author,
.traditional .entry-author {
	color: #848485;
	display: inline;
	font-weight: bold;
}

.single .entry-author address,
.page .entry-author address
.traditional .entry-author address {
	display: inline;
	font-style: normal;
}

.single .entry-info .published,
.page .entry-info .published,
.traditional .entry-info .published {
	border: none;
}

.single .entry-cat,
.page .entry-cat,
.traditional .entry-cat {
	color: #848485;
	display: block;
	line-height: 1.5em;
	margin: 5px 0 0;
}

.single .tags,
.page .tags,
.traditional .tags {
	margin: 15px 0;
	padding: 15px 0 0;
	color: #848485;
	border-top: 1px dotted #CCC;
	line-height: 1.5em;
}

.single .tags a,
.page .tags a,
.traditional .tags a {
	padding: 0;
}

.single .post .entry-photo,
.page .post .entry-photo,
.traditional .entry-photo {
	max-width: 100%;
	overflow: hidden;
}

.single .entry-photo img,
.page .entry-photo img,
.traditional .entry-photo img {
	height: auto;
	margin: 10px auto;
	max-height: 350px;
	max-width: 100%;
	width: auto;
}


.single-post .entry-info a:link, .single-post .entry-info a:visited	{ color: #666; text-decoration: none; }
.single-post .entry-info a:hover	{ color: #333; }

.single .post .tags strong,
.page .post .tags strong,
.traditional .post .tags strong {
	text-transform: uppercase;
}

.single .post .entry-photo img,
.page .post .entry-photo img,
.traditional .post .entry-photo {
	border: 1px solid #CCC;
}

.single .entry-comments,
.page .entry-comments {
	padding: 3px 3px 3px 17px;
	margin-top: 20px;
	display: inline-block;
	color: #FFF;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.post-edit-link:link, .post-edit-link:visited	{ text-decoration: none; }

.single-post-meta-field  { background: #313428; display: block; border: 1px solid #383332; padding: 5px 10px; color: #FFF; font-weight: 700; }
.single-post-meta-value	 { border: 1px solid #CCC; padding: 5px 10px; background: #F0F0F0; display: block; }

