// sass-lint:disable-all

.sf-menu, .sf-menu * {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sf-menu {
  line-height: 1;
}

.sf-menu ul {
  left: -999em;
  position: absolute;
  width: 11em;
  z-index: 100;
}

.sf-menu ul li {
  width: 100%;
}

.sf-menu li:hover {
  visibility: inherit;
}

.sf-menu li {
  float: left;
  position: relative;
}

.sf-menu a {
  display: block;
  position: relative;
}

.sf-menu li:hover ul, .sf-menu li.sfHover ul {
  left: 0;
  top: 2.8em;
  z-index: 99;
}

ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul {
  top: -999em;
}

ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {
  left: 11em;
  top: 0;
}

ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul {
  top: -999em;
}

ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul {
  left: 11em;
  top: 0;
}

.sf-shadow ul {
  background: url('../images/shadow.png') no-repeat bottom right;
  border-radius: 0 17px;
  padding: 0 8px 9px 0;
}

.sf-shadow ul.sf-shadow-off {
  background: transparent;
}
