@import 'palette';

$page-bg--base: $cloud;
$top-nav-bg: $off-black;
$top-nav-bg--hover: $off-gray;
$bg-color--main-nav: $lighter-rust;
$bg-color--main-nav-hover: $dust;
$bg-color--page-header: $near-black;
$bg-color--widgettitle: $wisp;

$code-bg: $shade;
$code-bg--alt: $lighter-rust;
$tile-bg: $white;
$table-header-bg: $light-silver;

$text-color--base: $dark-slate;
$text-color--alt: $black;
$text-color--light: $dark-gray;
$text-color--inverse: $white;
$text-color--inactive: $silver;
$text-color--header-alt: $off-gray;
$text-color--widgettitle: $dark-slate;
$text-color--codeblock: $lighter-rust;

$link-color--base: $darker-rust;
$link-color--hovered: $deep-red;
$link-color--top-nav: $light-gray;
$link-color--main-nav: $light-gray;

$border-color--base: $silver;
$border-color--top-nav: $dark-slate;
$border-color--main-nav: $dust;
$border-color--page-header: $dark-rust;
$border-color--main-outline: $fade;
