/* --- Base Palette --- */

/* - Greyscale -- */
$black: #000;
$near-black: #111;
$dark: #333;
$steel: #666;
$stormcloud: #848485;
$medium: #999;
$medium-grey: #ccc;
$light-grey: #aaa;
$light-shadow: #ddd;
$off-white: #eaeaea;
$wisp: #f0f0f0;
$white-silver: #f5f5f5;
$white: #fff;

/* - Colors - */
$yellow: #ff0;

$blue: blue;
$light-blue: #8888ff;

$red: #c00;
$brick: #322c2c;

$dark-brown: #1e1b1a;
$chocolate: #383332;
$rust: #313428;
$light-chocolate: #7d716d;
$beige: #d3d1c7;

/* All colors found

#313428; comment list background
#d8000c; comment form label text
#848485; line tapestry text
#e1e1e1; post entry thumbnail background
#322c2c; primary menu background
#383838; primary menu background
#383332; quick more link background
#0c0c0c; page border
#635957; border
#313428; text / background
#c00; text
#efefef; background
#848485; text single
#313428; background single meta field
#f3f3f3; background wp default
#f1f1f1; background wp default
#e3e3e3; border arras-tabs
#8a8a8a; options tab cover background
#dedede; form table border
*/