/* --- Global Colors --- */

$base-content-background: $white-silver;

$monospace-background: $off-white;

$highlight-color: $yellow;

$base-border-color: $medium-grey;
$secondary-border-color: $beige;
