// Footer
// ---------------

.site-footer {
  @include inner-wrap;
  background-color: $page-background-color__secondary;
  border: 1px solid $border-color__base;
  margin: 20px auto 0;
  padding-bottom: 10px;
}
