// Main Content
// ---------------

.main {
  background-color: $page-background-color__secondary;
  border: 1px solid $border-color__base;
  margin: 0 auto;
  max-width: 1280px;
  padding: 10px;
  width: 98%;
}
